<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">First Rails Application</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "Ariticles", articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>
